@model museumProj.Models.place

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}


@using (Html.BeginForm("create", "places", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-8">
        <div class="form-horizontal">
            <h4>Create place</h4>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.address, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.dates, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dates, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dates, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fees, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.map, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="map_image" name="map_image" style="width: 100%;" value="choose image" class="btn btn-info" />
                    @Html.ValidationMessageFor(model => model.map, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"> Logo Image</label>
                <div class="col-md-10">
                    <input type="file" id="logo_image" name="logo_image" style="width: 100%;" value="choose image" class="btn btn-info" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
</div>
    <div class="col-md-4"style="border:thin 2px #d9acac;">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="block-20 d-flex align-items-end" style="background-image: url();">
                </a>
            </div>

            <div class="col-md-6">

            </div>

        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index",new { @class = "btn btn-primary" })
</div>
